<!DOCTYPE html>
<html>
<%- include('components/head'); %>

<body id="page-top" class="sidebar-toggled">
    <div id="wrapper">
        <%- include('components/left-nav', { active: 'history', loginUser: loginUser }); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('components/head-nav', { loginUser: loginUser }); %>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">History</h3>
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Matching List</p>
                        </div>
                        <div class="card-body">
                            <% if (ratings) { %>
                                <div class="row my-1">
                                    <div class="col-3">対戦日時</div>
                                    <div class="col-3">ルール</div>
                                    <div class="col-2">対戦結果</div>
                                    <div class="col-2">対戦前パワー</div>
                                    <div class="col-2">対戦後パワー</div>
                                </div>
                                <% ratings.forEach(function(rating) { %>
                                    <div class="row my-1">
                                        <div class="col-3"><%= rating.createdAt.getFullYear() + '/' + (rating.createdAt.getMonth() + 1) + '/' + rating.createdAt.getDate() + ' ' + ('0' + rating.createdAt.getHours()).slice(-2) + ':' + ('0' + rating.createdAt.getMinutes()).slice(-2) %></div>
                                        <div class="col-3">
                                            <!-- TODO: to forEach -->
                                            <% for (var i = 0; i < rules.length; i++) { %>
                                              <% if(rules[i].code === rating.gameResult.rule) { %>
                                                 <%= rules[i].name %>
                                              <% } %>
                                            <% } %>
                                        </div>
                                        <div class="col-2">
                                            <h4 class="small fw-bold">
                                                <% if (rating.isWinner) { %>
                                                    <span class="text-win">Win</span>
                                                <% } else { %>
                                                    <span class="text-lose">Lose...</span>
                                                <% } %>
                                            </h4>
                                        </div>
                                        <div class="col-2"><%= Math.floor(rating.muBefore) %></div>
                                        <div class="col-2"><%= Math.floor(rating.muAfter) %></div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p>対戦結果はまだありません</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/footer'); %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <%- include('components/footer-scripts'); %>
</body>

</html>