<!DOCTYPE html>
<html>
<%- include('components/head'); %>

<body id="page-top">
    <div id="wrapper">
        <%- include('components/left-nav', { active: 'profile', user: user }); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('components/head-nav', { user: user }); %>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-mb-12">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form method="POST">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="name"><strong>ユーザー名</strong></label><input class="form-control" type="text" id="name" placeholder="ユーザー名" name="name" value="<%= user.name %>"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">保存</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Splat-Rating 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <%- include('components/footer-scripts'); %>
</body>

</html>